@media only screen and (max-width: 1400px) and (max-height: 760px) {
  #left-panel {
    padding: 1.5rem 2.5rem;

    .top-left--text {
      line-height: 1.5;
      .about-title {
        font-size: 1.7rem;
        font-weight: 600;
        color: $secondary-color;
      }

      p {
        font-size: 0.95rem;
        color: $primary-color;
        margin-bottom: 1rem;
      }
    }

    .modal-about--section {
      padding-top: 0;
    }

    .skills {
      .cards {
        .card {
          i {
            padding: 0.5rem 2.5rem;
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  /* scroll Top/Up Button */
  .scroll-top {
    right: 1rem;
    font-size: 0.9rem;
  }

  // Intro section
  .intro {
    .hero__container {
      width: 95vw;
      justify-content: start;
      transition: all 0.5s ease-out;
    }
    .socials {
      margin-left: 1.5rem;
      transition: all 0.4s ease-out;
    }
  }

  // Projects section
  #projects {
    padding: 3rem 8rem;
    transition: all 0.5s ease;
  }

  // Form Section
  .contact {
    padding: 4rem 6rem;
    .contact-container {
      min-width: 100%;
      transition: all 0.5s ease 0s;
      min-height: 500px;

      .contact-info {
        top: 0;
        left: 0;
        width: 300px;
        transition: all 0.5s ease 0s;
        height: 100%;

        padding: 40px 25px;

        .form-socials {
          li {
            margin-right: 0.85rem;

            a {
              font-size: 0.9rem;
            }
          }
        }
      }

      .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 0;
        padding-left: 350px;
        width: 100%;
        transition: all 0.5s ease 0s;
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  #left-panel {
    width: 850px;
    transition: width 0.5s ease 0s;
    padding: 2rem 2.5rem;
    background: $primary-text--color;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .close-btn {
      display: block;
    }

    .top-left--text {
      line-height: 1.5;
      .about-title {
        font-size: 1.7rem;
        font-weight: 600;
        color: $secondary-color;
      }

      p {
        font-size: 0.95rem;
        color: $primary-color;
        margin-bottom: 1rem;
      }
    }

    .modal-about--section {
      padding-top: 1rem;
      align-items: center;

      .modal__img {
        float: left;
        margin: 0 1.5rem 0 0;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        max-width: 200px;
        max-height: 200px;
      }

      .modal__about {
        color: $primary-color;

        h4 {
          font-size: 1.3rem;
          color: $secondary-color;
        }

        h1 {
          font-size: 1.7rem;
          font-weight: 500;
          padding: 0.6rem 0 0.8rem 0;
        }

        .about-me--description {
          line-height: 1.6;
          font-size: 1rem;
        }
      }
    }

    .skills {
      margin-top: 2rem;

      .cards {
        .card {
          i {
            padding: 0.5rem 2.5rem;
          }
        }
      }
    }
  }

  #right-panel {
    display: none;
  }

  // Form Section
  .contact-form {
    padding: 2rem;
  }
}

@media only screen and (max-width: 1025px) {
  .navbar {
    .navbar__container {
      margin: 0rem 2.5rem;
      transition: all 0.5s ease;
    }
  }

  // Intro section
  .intro {
    .hero__container {
      width: 100vw;
      transition: all 0.5s ease;

      .info {
        margin: 0 6rem;
        transition: all 0.5s ease;
        z-index: 2;
      }
    }
  }

  // Projects section
  #projects {
    padding: 3rem 6rem;
    transition: all 0.5s ease;

    .item {
      overflow: hidden;
      .right {
        padding: 1rem 2rem;
        transition: all 0.5s ease;
      }
    }
  }

  // Form Section
  .contact {
    transition: all 0.5s ease;
    .contact-container {
      transition: none;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      margin: 0;

      .contact-info {
        transition: none;
        position: relative;
        width: 100%;
        height: auto;

        padding: 3rem 2rem;

        .contact-info-heading {
          color: $secondary-color;
        }
      }

      .contact-form {
        transition: none;
        position: unset;
        margin: 0;
        padding: 2rem;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  #modal {
    top: 5%;
    max-height: 90vh;
  }

  #left-panel {
    padding: 1.5rem 2.5rem;
  }

  // Projects section
  #projects {
    .item {
      &:nth-child(even) .left {
        margin-left: -180px;
        transition: all 0.5s ease;
      }

      .right {
        margin-left: -180px;
        transition: all 0.5s ease;
      }
    }
  }

  // Form Section
  .contact {
    .contact-container {
      .form-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 30px;

        .w50 {
          width: 100% !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  // No border radius on mobile version
  textarea,
  input[type='text'],
  input[type='email'],
  input[type='button'],
  input[type='submit'] {
    -webkit-appearance: none;
    border-radius: 0;
  }

  /* scroll Top/Up Button */
  .scroll-top {
    visibility: hidden;
  }

  .navbar {
    z-index: 99;
    .navbar__container {
      margin: 0rem 1.5rem;
      transition: all 0.5s ease;

      .nav {
        .menu-btn {
          display: flex;
        }

        .nav__list {
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;
          padding: 0 4rem;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;

          height: 100vh;
          width: calc(min(75vw, 400px));
          transform: translateX(100vw);
          background-color: $primary-color;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          transition: transform 0.3s ease-in-out;

          #about-link {
            display: block;
          }

          &.open {
            transform: translateX(0);
          }
          .nav__item {
            list-style: none;
            opacity: 0;
            padding: 2rem 0;

            .nav__link {
              text-decoration: none;
              padding: 25px 15px;
              font-size: 1.7rem;

              color: $secondary-text--color;
              font-weight: 500;
              transition: color 0.5s cubic-bezier(0.61, 1, 0.88, 1) 0s;

              &:hover {
                color: $special-color;
              }
            }

            .active {
              color: $special-color;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  // Intro section
  .intro {
    .hero__container {
      display: flex;

      width: 100vw;
      align-items: center;
      justify-content: flex-end;

      .about__btn {
        display: none;
      }
      .about__btn1 {
        display: inline-block;
      }

      .info {
        margin: 0 3.5rem;
        transition: all 0.5s ease;
      }
    }
    .socials {
      display: none;
    }
  }

  // #wrapper {
  //   display: none;
  // }

  // #modal {
  //   display: none;
  // }

  #about-section {
    display: flex;
    width: 100%;
    height: 100%;
  }

  // Projects section
  #projects {
    .astrodividermask:after {
      box-shadow: 0 0 8px #9bdbd7;
    }

    background-color: $secondary-text--color;
    padding: 3rem 7rem;

    .item {
      margin-bottom: 5rem;
      position: relative;

      &:nth-child(even) .left {
        margin-left: 0px;
        transition: all 0.5s ease;
      }

      .img {
        &::after {
          background-color: transparent;
          opacity: 0;
        }
      }

      .right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 0px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        background-color: #17252abe;
        color: $primary-text--color;
        z-index: 2;
        text-align: start;
        opacity: 0.9;

        .project-title {
          padding-bottom: 2rem;
        }

        .project-description {
          line-height: 1.6;
          font-size: clamp(0.95rem, 1.5vw, 1rem);
        }
        .ext-links {
          display: flex;
          flex-direction: row;

          .buttons {
            flex-direction: row;
          }
        }
      }
    }
  }

  // Form Section
  .contact {
    padding: 4rem 0.5rem 1rem;

    .contact-container {
      padding: 0 1.5rem;
      padding-top: 0;

      .contact-info {
        .form-socials {
          padding: 0;
          padding-top: 3rem;

          li {
            a {
              text-decoration: none;
              color: $secondary-text--color;
              font-size: 1rem;
              padding-right: 1rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  #about-section {
    .modal-about--section {
      display: inline-block;

      .modal__img {
        margin: 0 2rem 0 0;
      }

      .modal__about {
        padding: 1rem 0 2rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .is-hidden {
    top: -100px;
    opacity: 0;
    transition: transform 0.4s, opacity 0.2s;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    transition: transform 0.4s, opacity 0.2s;

    .navbar {
      box-shadow: none;
      opacity: 1;
    }

    .logo {
      padding: 1.5rem 0;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  .navbar-hide {
    pointer-events: none;
    opacity: 0;
  }

  // Intro section
  .intro {
    .hero__container {
      .info {
        margin: 0 3rem;
        transition: all 0.5s ease;
      }
    }
  }

  #about-section {
    padding: 4rem 2rem;

    .modal-about--section {
      .modal__img {
        margin: 0 1rem 0 0;
        max-width: 150px;
        max-height: 150px;
      }

      .modal__about {
        padding: 0;

        h1 {
          font-size: 1.5rem;
        }
      }
    }

    .skills {
      .cards {
        .card {
          i {
            padding: 0.5rem 2rem;
          }
        }
      }
    }
  }

  // Projects section
  #projects {
    padding: 3rem;
  }

  // Form Section
  .contact {
    padding: 4rem 0rem 1rem;

    .contact-container {
      padding: 0 1.5rem;
      padding-top: 0;

      .contact-info {
        .form-socials {
          padding: 0;
          padding-top: 3rem;

          li {
            a {
              text-decoration: none;
              color: $secondary-text--color;
              font-size: 1rem;
              padding-right: 1rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  // Intro section
  .intro {
    .hero__container {
      .info {
        margin: 0 1.5rem;
        transition: all 0.5s ease;
      }
    }
  }

  #about-section {
    align-items: center;
    padding: 4rem 1.5rem;

    .top-left--text {
      align-items: center;
      margin-bottom: 2rem;
    }

    .modal-about--section {
      display: flex;
      flex-direction: column;

      .modal__img {
        max-width: 200px;
        max-height: 200px;
      }

      .modal__about {
        text-justify: auto;
        padding: 0;
        padding-top: 2rem;

        h4 {
          text-align: center;
        }
      }
    }

    .skills {
      margin-top: 2rem;

      .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        .card {
          i {
            padding: 0.5rem 0;
          }
        }
      }
    }
  }

  // Projects section
  #projects {
    padding: 1.5rem;
    .item {
      .left {
        .img {
          width: 100%;
          height: 360px;
        }
      }
    }
  }

  // Form Section
  .contact {
    margin: 0;
    padding: 4rem 0rem 0rem;

    .contact-container {
      padding: 0;

      .contact-info {
        .form-socials {
          padding: 0;
          padding-top: 3rem;

          li {
            a {
              text-decoration: none;
              color: $secondary-text--color;
              font-size: 1rem;
              padding-right: 1rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  /* -------------------------------------------------------------------------
   begin Separator
 * ------------------------------------------------------------------------- */

  .astrodivider {
    left: calc(50% - 100px);
    width: 200px;
  }
  /* -------------------------------------------------------------------------
 end Separator
* ------------------------------------------------------------------------- */

  // Intro section
  .intro {
    .hero__container {
      .info {
        margin: 0 1.5rem;
        transition: all 0.5s ease;
      }
    }
  }

  // Projects section
  #projects {
    padding: 1.5rem;
    .item {
      .left {
        .img {
          width: 100%;
          height: 360px;
        }
      }
    }
  }

  // Form Section
  .contact {
    .contact-container {
      .contact-info {
        .form-socials {
          li {
            a {
              text-decoration: none;
              color: $secondary-text--color;
              font-size: 0.9rem;
              padding-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 330px) {
  // Intro section
  .intro {
    .hero__container {
      width: 100%;
      height: 100%;
      .info {
        width: 100%;
        height: max-content;
        margin: 0 1rem;
        transition: all 0.5s ease;
      }
    }
  }

  // Projects section
  #projects {
    padding: 0.5rem;
    .item {
      .left {
        .img {
          width: 100%;
          height: 360px;
        }
      }
    }
  }

  // Form Section
  .contact {
    .contact-container {
      width: 100%;
      height: max-content;
      padding: 0;
      padding-top: 0;

      .contact-info {
        padding: 1rem 0.5rem;

        .form-socials {
          padding: 0;
          padding-top: 3rem;

          li {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            a {
              text-decoration: none;
              color: $secondary-text--color;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  #about-section {
    .modal-about--section {
      .modal__about {
        h4 {
          text-align: left;
        }
      }
    }
    .skills {
      .cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  // Projects section
  #projects {
    .item {
      .right {
        padding: 0.5rem;
        .ext-links {
          display: flex;
          flex-direction: row;

          .buttons {
            flex-direction: row;
            padding: 0;
            margin: 0;

            .primary-btn {
              padding: 0.5rem;
            }

            .source-code {
              margin: 0 2rem;
            }
          }
        }
      }
    }
  }
}
