$primary-color: #17252a;
$secondary-color: #2b7a78;
$primary-text--color: #def2f1;
$secondary-text--color: #feffff;
$special-color: #3aafa9;
$alt-color: #fcfdf4;
$tomatored: #f25c66;
// Hero settings
$paragraph: 1.5rem;
$name: 5rem;
$description: 3rem;
$center: calc(50% + 70px);
